

<h1>New book</h1>
<%= form_with model: @book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Optinion</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<% @books.each do |book| %>
<div>
  <p>Title：<%= book.title %></p>
  <p>Optinion：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>