<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/7b0322a2a0.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Bookers', root_path %>
    　</li>
    　<li>
    　<%= link_to 'Home', user_path(current_user.id) %>
      </li>
      <li>
      <%= link_to 'Users', user_path %>
    　</li>
    　<li>
      <%= link_to 'Books', books_path %>
    　</li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
      <%= link_to 'Bookers', root_path %>
    　</li>
    　<li>
      <%= link_to 'Home', root_path %>
    　</li>
    　<li>
      <%= link_to 'About', home_about_path %>
    　</li>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
  </body>

</html>
